

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background:(#ff4b2b);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.form-box {
  background: #fff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #ffce00;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, red);
  border: none;
  border-radius: 8px;
  color: #ffce00;
  font-weight: 600;
  cursor: pointer;
 
}


